@import"./variables";

.titles{
    font-family: 'Marcellus', serif;
    text-shadow: 2px 2px 0 white,
                -2px 2px 0 white,
                2px -2px 0 white,
               -2px -2px 0 white;
    text-align: center;
    @include phone{
        font-size: 3rem;
    }
    @include tablet{
        font-size: 6rem;
    }
    @include desktop{
        font-size: 10rem;
    }
    transform: scale(1.25);
}


.city-section p{
    //border: 5px solid green;
    font-family: 'Marcellus', serif;
    @include phone{
        font-size: 0.75rem;
        width: 80vw;
    }
    @include tablet{
        font-size: 1rem;
    }
    @include desktop{
        font-size: 1.75rem;
        width: 40vw;
    }
}