@import"./variables";


.titles{
    font-family: 'Marcellus', serif;
    text-shadow: 2px 2px 0 white,
                -2px 2px 0 white,
                2px -2px 0 white,
               -2px -2px 0 white;
    text-align: center;
    @include phone{
        font-size: 3rem;
    }
    @include tablet{
        font-size: 7rem;
    }
    @include desktop{
        font-size: 10rem;
    }
}


.city-section p{
    //border: 5px solid green;
    font-family: 'Marcellus', serif;
    @include phone{
        font-size: 0.75rem;
        width: 80vw;
    }
    @include tablet{
        font-size: 1rem;
    }
    @include desktop{
        font-size: 1.5rem;
        width: 40vw;
    }
}

.blue-box{
    //background-image: linear-gradient(to bottom, color(lightblue), color(lightpurple));
    background-color: color(lightblue);
    @include phone{
        height: 70vh;
    }
    @include tablet{
        height: 90vh;
    }
    @include desktop{
        height: 100vh;
    }
}


.city-section-title{
    font-family: 'Marcellus', serif;
    text-align: center;
    @include phone{
        font-size: 5rem;
    }
    @include desktop{
        font-size: 12rem;
    }

}

.blue-box-parent{
   // border: 10px solid red;
    display: flex;
    
    align-items: center;
    @include phone{
        height: 60vh;
        flex-direction: column;
        justify-content: space-around;
    }
    @include tablet{
        height: 70vh;
        flex-direction: column;
        justify-content: space-around;
    }
    @include desktop{
        height: 80vh;
        flex-direction: row;
        justify-content: space-between;
    }

}

.blue-image{
    background-image: url(media/zurich.jpg);
    background-size: cover;
    border: solid 3px black;
    @include phone{
        height: 20rem;
        width: 30rem;
    }
    @include tablet{
        height: 40rem;
        width: 50rem;
    }
    @include desktop{
        height: $cityimageheight;
        width: $cityimagewidth;
        margin-left: $margin;
    }
}



.blue-box p{
    //border: 5px solid green;
    
    @include phone{
        text-align: center;
    }
    @include desktop{
        text-align: right;
        margin-right: $margin;
    }
}







.purple-box{
    height: 80vh;
    //background-image: linear-gradient(to bottom, color(lightpurple), color(lightred));
    background-color: color(lightpurple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: solid 5px red;
}

.purple-box p{
    //border: 5px solid green;
    text-align: left;
    margin-left: $margin;
}

.purple-image{
    height: $cityimageheight;
    width: $cityimagewidth;
    background-image: url(media/geneva.jpg);
    background-size: cover;
    border: solid 3px black;
    margin-right: $margin;
    filter: brightness(95%);
}





.red-box{
    height: 80vh;
    //background-image: linear-gradient(to bottom, color(lightred), color(lightbeige));
    background-color: color(lightred);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red-image{
    height: $cityimageheight;
    width: $cityimagewidth;
    background-image: url(media/bern.jpg);
    background-size: cover;
    margin-left: $margin;
    border: solid 3px black;
}

.red-box p{
    margin-right: $margin;
    text-align: right;
}