@import"./variables";


.beige-box{
    @include phone{
        height: 100vh;
    }
    @include tablet{
        height: 100vh;
    }
    @include desktop{
        height: 90vh;
    }
    background-color: color(lightbeige);
}

.landmark-sec-title{
    font-family: 'Marcellus', serif;
    text-align: center;
    @include phone{
        font-size: 4rem;
    }
    @include tablet{
        font-size: 6rem;
    }
    @include desktop{
        font-size: 12rem;
    }
}

.beige-box-parent{
    //border: solid 5px red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    @include phone{
        flex-direction: column;
        height: 80vh;
    }
    @include tablet{
        height: 85vh;
    }
    @include desktop{
        flex-direction: row;
        justify-content: space-around;
        height: 80vh;
        width: 100vw;
    }
}

/*
.card{
    perspective: 150rem;
    position: relative;
}

.card-side{
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    border-radius: 30rem;
    @include phone{
        height: 18rem;
        width: 27rem;
    }
    @include tablet{
        height: 25rem;
        width: 40rem;
    }
    @include desktop{
        height: 45rem;
        width: 45rem;
    }
}

.card-side-front{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 1s;
    background-image: url(media/zurich.jpg);
    
}

.card-side-back{
    background-image: url(media/zurich.jpg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}

.card:hover .card-side-front{
    transform: rotateY(-180deg);
}
.card:hover .card-side-back{
    transform: rotateY(0deg);
}


*/

.card{
    background-size: cover;
    perspective: 150rem;
    position: relative;
    @include phone{
        height: 18rem;
        width: 27rem;
    }
    @include tablet{
        height: 25rem;
        width: 40rem;
    }
    @include desktop{
        height: 50rem;
        width: 50rem;
    }
}

.card-side{
    backface-visibility: hidden;
    @include phone{
        height: 18rem;
        width: 27rem;
    }
    @include tablet{
        height: 25rem;
        width: 40rem;
    }
    @include desktop{
        height: 50rem;
        width: 50rem;
    }
    border-radius: 30rem;
    border: solid 4px black;
}

.card-side-front {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 1s;
    background-size: cover;
    
}

.card-side-back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
    background-color: color(peach);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .card-side-front{
    transform: rotateY(-180deg);
}

.card:hover .card-side-back{
    transform: rotateY(0deg);
}

.alps .card-side-front {
    background-image: url(media/swiss_alps.jpg);
}

//.alps .card-side-back {}

.jet .card-side-front{
    background-image: url(media/jetdeau.jpg);
}

//.jet .card-side-back {}

.festival .card-side-front{
    background-image: url(media/balloon.jpg);
} 

//.festival .card-side-back{}

.card header{
    text-align: center;
    font-family: 'Marcellus', serif;
    font-size: 6rem;
    color: white;
    text-shadow: 2px 2px 0 black,
                -2px 2px 0 black,
                2px -2px 0 black,
               -2px -2px 0 black;
    @include phone{
        font-size: 4rem;
    }
    @include tablet{
        font-size: 5rem;
    }
    @include desktop{
        font-size: 6rem;
        transform: translateY(2rem);
    }
} 

.card-side-back p{
    font-family: 'Bree Serif', serif;
    text-align: center;
    @include desktop{
        font-size: 2.5rem;
        height: auto;
        width: 40rem;
    }
}

