@import"./variables";


.beige-box{
    @include phone{
        height: 100vh;
    }
    @include desktop{
        height: 90vh;
    }
    background-color: color(lightbeige);
}

.beige-box header{
    font-family: 'Marcellus', serif;
    text-align: center;
    @include phone{
        font-size: 4rem;
    }
    @include desktop{
        font-size: 8rem;
    }
}

.beige-box-parent{
    height: 80vh;
    //border: solid 5px red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include phone{
        flex-direction: column;
    }
    @include desktop{
        flex-direction: row;
    }
}

.landmark{
    border-radius: 30rem;
    border: solid 4px black;
    @include phone{
        height: 18rem;
        width: 27rem;
    }
    @include desktop{
        height: 50rem;
        width: 50rem;
    }
}
.alps{
    background-image: url(media/swiss_alps.jpg);
    background-size: cover;
}

.jet{
    background-image: url(media/jetdeau.jpg);
    background-size: cover;
}

.festival{
    background-image: url(media/balloon.jpg);
    background-size: cover;
}