@import"./variables";

.navigation_checkbox{
    display: none;
}
//////////////////////////////////////nav button (top left)
.navigation_button{
    background-color: black;
    height: 7rem;
    width: 7rem;
    //border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    box-shadow: 0 1rem 3rem gray;
    text-align: center;
    cursor: pointer;
    border: 2px solid white;
}

.navigation_icon{
    position: relative;
    margin-top: 3.5rem;
}

.navigation_icon::before, .navigation_icon::after{
    content: "";
}

.navigation_icon::before{
    position: absolute;
    top: -1rem;
    left: 0;
}

.navigation_icon::after{
    position: absolute;
    top: 1rem;
    left: 0;
}

.navigation_icon, .navigation_icon::before, .navigation_icon::after{
    width: 4rem;
    height: 3px;
    background-color: white;
    display: inline-block;
    transition: all 0.2s;
}

.navigation_button:hover .navigation_icon::before{
    top: -1.3rem;
}

.navigation_button:hover .navigation_icon::after{
    top: 1.3rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon{
    background-color: transparent;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before{
    transform: rotate(135deg);
    top: 0;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::after{
    transform: rotate(-135deg);
    top: 0;
}
////////////////////////////////////////////////nav screen

.navigation_nav{
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 100%;
    transform: translateX(-100vw);
    transition: all 1.2s; // cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: ease-out;
    //transition-delay: 1.2s;
}

.navigation_background{
    height: 7rem;
    width: 100vw;
    display: block;
    position: fixed;
    z-index: 1000;
    background-color: color(navback);
    transition: all 1.2s;
    transform: translateX(-100vw);
    transition-timing-function: ease-out;
}

/*.navigation_list_background{
    position: fixed;
    z-index: 1500;
    height: 43%;
    width: 30%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 1;
}*/

.navigation_list{
    border: 2px solid black;
    position: absolute;
    list-style: none;
    text-align: center;
    height: auto;
    width: 95%;
    //background-color: white;
    padding: 0;
    right: 0;
    //transform: translateY(-6rem);
    display: flex;
    justify-content: space-around;
}

.navigation_item{
    //margin: 0rem 13.8rem;
    //margin: 1rem;
    display: inline;
    //padding: 2rem 12.8rem;
    //background-color: white;
    //padding: 2rem;
    //clip-path: polygon(25% 15%, 75% 15%, 100% 50%, 75% 85%, 25% 85%, 0 50%);
}

.navigation_link, .navigation_link:link, .navigation_link:visited{ //each link
    //display: block;
    font-size: 3rem;
    font-weight: 300;
    padding: 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    //background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50% );
    //background-size: 240%;
    transition: all 0.4s;
    width: auto;
}

.navigation_link:hover, .navigation_link:active{
    color: color(navback);
    transform: scale(1.2);
}

.navigation_checkbox:checked~.navigation_background{
    transform: translateX(0vw);
    opacity: 1;
}

.navigation_checkbox:checked~.navigation_nav{
    opacity: 1;
    transform: translateX(0vw);
}

