@import"./variables";

.purple-box{
    background-color: color(lightpurple);
    display: flex;
    width: 100vw;
    @include phone{
        height: 75vh;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    @include tablet{
        height: 90vh;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    @include desktop{
        height: 100vh;
        flex-direction: row;
        justify-content: space-between;
    }
}

/*.purple-box p{
    //border: 5px solid green;
    @include phone{
        text-align: center;
    }
    @include desktop{
        text-align: left;
        margin-left: 6rem;
    }
}*/

.purple-facts{
    @include desktop{
        margin-left: 3rem;
    }
}

.purple-gallery-parent{
    //margin: 0 auto;
    border: solid 3px purple;
    overflow: hidden;
    @include phone{
        height: 40vh;
        width: 100vw;
    }
    @include tablet{
        height: 52vh;
        width: 100vw;
    }
    @include desktop{
        height: 80vh;
        width: 45vw;
    }
    
}

.gallery-p{
    display: flex;
    justify-content: space-around;
    border: solid 3px green;
    @include phone{
        height: 35vh;
        width: 100vw;
    }
    @include tablet{
        height: 45vh;
        width: 100vw;
    }
    @include desktop{
        height: 52vh;
        width: 45vw;
    }
}




.purple-photo{
    //border: solid 3px black;
    filter: brightness(95%);
    border-radius: 50rem;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    @include phone{
        height: 10rem;    //25,25
        width: 10rem;
    }
    @include tablet{
        height: 22rem;  //40,40
        width: 22rem;
    }
    @include desktop{     //70,70
        height: 30rem;
        width: 30rem;
       // margin-right: 6rem;
    }
}

.geneva-cathedral{
    @include phone{
        transform: translate(25rem, 2rem);
        animation-name: geneva-cathedral-animation-phone;
    }
    @include tablet{
        transform: translate(11rem, 0rem);
        animation-name: geneva-cathedral-animation-tablet;
    }
    @include desktop{
        transform: translate(23rem, 0rem);
        animation-name: geneva-cathedral-animation-desktop;
    }
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
}

@keyframes geneva-cathedral-animation-phone{
    from{transform: scale(2.2) translate(6.5rem, 5rem);} //top: 11rem; left: 14rem;}
    to{transform: scale(1.0) translate(25rem, 2rem);}// top:2rem; left: 26rem;}
}

@keyframes geneva-cathedral-animation-tablet{
    from{transform: scale(1.8) translate(18.5rem, 6rem);}
    to{transform: scale(1.0) translate(11rem, 0rem);}
}

@keyframes geneva-cathedral-animation-desktop{
    from{transform: scale(2.0) translate(23rem, 8rem);}
    to{transform: scale(1.0) translate(23rem, 0rem);}
}



.geneva-night{
    @include phone{
        transform: translate(-5rem, 2rem);
        animation-name: geneva-night-animation-phone;
    }
    @include tablet{
        transform: translate(11rem, 21rem);
        animation-name: geneva-night-animation-tablet;
    }
    @include desktop{
        transform: translate(17rem, 32rem);
        animation-name: geneva-night-animation-desktop;
    }
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
}

@keyframes geneva-night-animation-phone{
    from{transform: scale(2.2) translate(2rem, 5rem);} //top: 11rem; left: 14rem;}
    to{transform: scale(1.0) translate(-5rem, 2rem);} // top:2rem; left: 3rem;}
}

@keyframes geneva-night-animation-tablet{
    from{transform: scale(1.8) translate(6.5rem, 6rem);}
    to{transform: scale(1.0) translate(11rem, 21rem);}
}

@keyframes geneva-night-animation-desktop{
    from{transform: scale(2.0) translate(9rem, 8rem);}
    to{transform: scale(1.0) translate(17rem, 32rem);}
}

.geneva-castle{
    @include phone{
       // top: 16rem;
        //left: 14.5rem;
        transform: translate(-5rem, 16rem);
        animation-name: geneva-castle-animation-phone;
    }
    @include tablet{
        transform: translate(11rem, 0rem);
        animation-name: geneva-castle-animation-tablet;
    }
    @include desktop{
        transform: translate(10rem, 0rem);
        animation-name: geneva-castle-animation-desktop;
    }
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
}

@keyframes geneva-castle-animation-phone{
    from{transform: scale(2.2) translate(-2.5rem, 5rem);} // top: 11rem; left: 14rem;}
    to{transform: scale(1.0) translate(-5rem, 16rem);} // top:16rem; left: 14.5rem;}
}

@keyframes geneva-castle-animation-tablet{
    from{transform: scale(1.8) translate(-6rem, 6rem);}
    to{transform: scale(1.0) translate(11rem, 0rem);}
}

@keyframes geneva-castle-animation-desktop{
    from{transform: scale(2.0) translate(-6rem, 8rem);}
    to{transform: scale(1.0) translate(10rem, 0rem);}
}

.geneva-town{
    opacity: 0.0;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
    @include phone{
        transform: translate(-15rem, 7rem);
        animation-name: geneva-town-animation-phone;
    }
    @include tablet{
        transform: translate(-33rem, 8rem);
        animation-name: geneva-town-animation-tablet;
    }
    @include desktop{
        transform: translate(-43rem, 14rem);
        animation-name: geneva-town-animation-desktop;
    }
}

@keyframes geneva-town-animation-phone{
    from{transform: scale(2.2) translate(-7rem, 5rem);  opacity: 1.0;} //top: 11rem; left: 14rem;
    to{transform: scale(1.0) translate(-15rem, 7rem); opacity: 0.0;} //top: 4rem; left: 9rem;
} 

@keyframes geneva-town-animation-tablet{
    from{transform: scale(1.8) translate(-18rem, 6rem); opacity: 1.0;}
    to{transform: scale(1.0) translate(-33rem, 8rem); opacity: 0.0;}
}

@keyframes geneva-town-animation-desktop{
    from{transform: scale(2.0) translate(-21rem, 8rem); opacity: 1.0;}
    to{transform: scale(1.0) translate(-43rem, 14rem); opacity: 0.0;}
} 

@include phone{     //works for tablet as well
    .gallery-p:active{
        .geneva-cathedral{
            animation-play-state: running;
        }
        .geneva-night{
            animation-play-state: running;
        }
        .geneva-castle{
            animation-play-state: running;
        }
        .geneva-town{
            animation-play-state: running;
        }
    }
}

@include desktop{
    .gallery-p:active{
        .geneva-cathedral{
            animation-play-state: running;
        }
        .geneva-night{
            animation-play-state: running;
        }
        .geneva-castle{
            animation-play-state: running;
        }
        .geneva-town{
            animation-play-state: running;
        }
    }
}

.geneva-title{
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
    text-align: center;
    animation-name: geneva-animation;
    margin-left: 35%;
    @include phone{
        width: 11rem;
    }
    @include tablet{
        width: 21rem;
    }
    @include desktop{
        width: 34rem;
    }
    
}
@keyframes geneva-animation{
    from{margin-left: 110%;}
    to{margin-left: 35%;}
}

.purple-box:hover{
    .geneva-title{
        animation-play-state: running;
    }
    .purple-facts header{
        animation-play-state: running;
    }
}