@import"./variables";

.purple-box{
    //background-image: linear-gradient(to bottom, color(lightpurple), color(lightred));
    background-color: color(lightpurple);
    display: flex;
    @include phone{
        height: 70vh;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    @include tablet{
        height: 90vh;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    @include desktop{
        height: 100vh;
        flex-direction: row;
        justify-content: space-between;
    }

    
    //border: solid 5px red;
}

.purple-box p{
    //border: 5px solid green;
    @include phone{
        text-align: center;
    }
    @include desktop{
        text-align: left;
        margin-left: 6rem;
    }
}

.purple-gallery-parent{
    //margin: 0 auto;
    
    @include phone{
        height: 40vh;
        width: 100vw;
    }
    @include desktop{
        height: 80vh;
        width: 45vw;
    }
    
}

.gallery-p{
    position: relative;
    display: flex;
    justify-content: space-around;
    @include phone{
        height: 33vh;
        width: 100vw;
    }
    @include desktop{
        height: 52vh;
        width: 45vw;
    }
}




.purple-photo{
    border: solid 3px black;
    filter: brightness(95%);
    border-radius: 50rem;
    position: absolute;
    @include phone{
        height: 10rem;    //25,25
        width: 10rem;
    }
    @include tablet{
        height: 40rem;
        width: 50rem;
    }
    @include desktop{     //70,70
        height: 30rem;
        width: 30rem;
        margin-right: 6rem;
    }
    
}

.geneva-cathedral{
    @include phone{
        top: 2rem;
        left: 26rem;
        animation-name: geneva-cathedral-animation-phone;
    }
    @include desktop{
        top: 0rem;
        left: 42rem;
        animation-name: geneva-cathedral-animation-desktop;
    }
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
}

@keyframes geneva-cathedral-animation-phone{
    0%{height: 50rem; width: 50rem; top: 0; left: 6rem;}
    100%{height: 10rem; width: 10rem; top:2rem; left: 26rem;}
}

@keyframes geneva-cathedral-animation-desktop{
    0%{height: 70rem; width: 70rem; top: 0rem; left: 0rem;}
    100%{height: 30rem; width: 30rem; top: 0rem; left: 42rem;}
}



.geneva-night{
    @include phone{
        top: 2rem;
        left: 3rem;
        animation-name: geneva-night-animation-phone;
    }
    @include desktop{
        top: 34rem;
        left: 20rem;
        animation-name: geneva-night-animation-desktop;
    }
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
}

@keyframes geneva-night-animation-phone{
    0%{height: 50rem; width: 50rem; top: 0; left: 6rem;}
    100%{height: 10rem; width: 10rem; top:2rem; left: 3rem;}
}


@keyframes geneva-night-animation-desktop{
    0%{height: 70rem; width: 70rem; top: 0rem; left: 0rem;}
    100%{height: 30rem; width: 30rem; top: 34rem; left: 20rem;}
}

.geneva-castle{
    @include phone{
        top: 16rem;
        left: 14.5rem;
        animation-name: geneva-castle-animation-phone;
    }
    @include desktop{
        top: 0rem;
        left: -1rem;
        animation-name: geneva-castle-animation-desktop;
    }
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
}

@keyframes geneva-castle-animation-phone{
    0%{height: 50rem; width: 50rem; top: 0; left: 6rem;}
    100%{height: 10rem; width: 10rem; top:16rem; left: 14.5rem;}
}

@keyframes geneva-castle-animation-desktop{
    0%{height: 70rem; width: 70rem; top: 0rem; left: 0rem;}
    100%{height: 30rem; width: 30rem; top: 0rem; left: -1rem;}
}

.geneva-town{
    opacity: 0.0;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
    @include phone{
        animation-name: geneva-town-animation-phone;
        top: 4rem;
        left: 9rem;
        height: 18rem;
        width: 18rem;
    }
    @include desktop{
        animation-name: geneva-town-animation-desktop;
    }
}

@keyframes geneva-town-animation-phone{
    0%{height: 50rem; width: 50rem; top: 0rem; left: 6rem; opacity: 1.0;}
    100%{height: 18rem; width: 18rem; top: 4rem; left: 9rem; opacity: 0.0;}
} 

@keyframes geneva-town-animation-desktop{
    0%{height: 70rem; width: 70rem; top: 0rem; left: 0rem; opacity: 1.0;}
    100%{height: 60rem; width: 60rem; top: 0rem; left: 0rem; opacity: 0.0;}
} 

@include phone{
    .gallery-p:hover{
        .geneva-cathedral{
            animation-play-state: running;
        }
        .geneva-night{
            animation-play-state: running;
        }
        .geneva-castle{
            animation-play-state: running;
        }
        .geneva-town{
            animation-play-state: running;
        }
    }
}

@include desktop{
    .gallery-p:active{
        .geneva-cathedral{
            animation-play-state: running;
        }
        .geneva-night{
            animation-play-state: running;
        }
        .geneva-castle{
            animation-play-state: running;
        }
        .geneva-town{
            animation-play-state: running;
        }
    }
}

.geneva-title{
    /*transform: translateX(-100rem);
    transition: 1.0s all;
    animation-fill-mode: forwards;*/
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
    @include phone{
        width: 11rem;
        animation-name: geneva-animation-phone;
        transform: translateX(14rem) scale(1.25);
    }
    @include tablet{
        width: 21rem;
        animation-name: geneva-animation-tablet;
        transform: translateX(28rem) scale(1.25);
    }
    @include desktop{
        width: 34rem;
        animation-name: geneva-animation-desktop;
        transform: translateX(17rem) scale(1.25);
    }
    
}
@keyframes geneva-animation-phone{
    0%{transform: translateX(250rem) scale(0.75);}
    100%{transform: translateX(14rem) scale(1.25);}
}

@keyframes geneva-animation-tablet{
    0%{transform: translateX(600rem) scale(0.75);}
    100%{transform: translateX(28rem) scale(1.25);}
}

@keyframes geneva-animation-desktop{
    0%{transform: translateX(100rem) scale(0.75);}
    100%{transform: translateX(17rem) scale(1.25);}
}

.purple-box:hover{
    .geneva-title{
        animation-play-state: running;
        
    }
}