@import"./variables";

.red-box{
    background-color: color(lightred);
    display: flex;
    width: 100vw;
    @include phone{
        height: 75vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    @include tablet{
        height: 90vh;
        flex-direction: column;
        justify-content: space-around;
    }
    @include desktop{
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        //align-items: center;
    }
}

.red-gallery-parent{
    height: 70rem;
    @include phone{
        height: 30rem;
        width: 100vw;
    }
    @include tablet{
        height: 57rem;
        width: 70rem;
    }
    @include desktop{
        height: auto;
        width: 110rem;
    }
    
    //border: solid 3px red;
}

.gallery-r{
    position: relative;
    @include phone{
        height: 25rem;
    }
    @include tablet{
        height: 48rem;
    }
    @include desktop{
        height: 55rem;
        width: 80rem;
        margin: 0 auto;
    }

}

.red-photo{
    position: absolute;
    transition: all 0.6s;
    border: solid 3px black;
}

.bern-square{
    @include phone{
        height: 12rem;
        top: 10rem;
        left: 17rem;
    }
    @include tablet{
        height: 24rem;
        top: 17rem;
        left: 31rem;
    }
    @include desktop{
        height: 30rem;
        top: 20rem;
        left: 33rem;
    }
}

.bern-river{
    @include phone{
        height: 12rem;
        top: 2rem;
        left: 9rem;
    }
    @include tablet{
        height: 24rem;
        top: 2rem;
        left: 19rem;
    }
    @include desktop{
        height: 30rem;
        top: 2rem;
        left: 21rem;
    }
}

.bern-winter{
    @include phone{
        height: 12rem;
        top: 13rem;
        left: 1rem;
    }
    @include tablet{
        height: 24rem;
        top: 21rem;
        left: 1rem;
    }
    @include desktop{
        height: 30rem;
        top: 24rem;
        left: 2rem;
    }
}

.red-photo:hover{
    transform: scale(1.2);
    outline: 5px solid #222;
    z-index: 1;
    box-shadow: 7px 7px gray;
}

.gallery:hover .red-photo:not(:hover){
    transform: scale(.7);
    opacity: 0.3;
}


.red-list{
    @include phone{
        height: 18rem;
        width: auto;
    }
    @include tablet{
        height: 25rem;
        width: auto;
    }
    @include desktop{
        height: 40rem;
        width: auto;
    }
}

.red-list ul{
    list-style-position: inside;
    //list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    @include phone{
        font-size: 2rem;
        line-height: 3rem;
    }
    @include tablet{
        font-size: 3.5rem;
        line-height: 5rem;
    }
    @include desktop{
        font-size: 6rem;
        line-height: 8rem;
    }
}

/*.red-list ul li{
    background-color: rgba(255,255,255,0.2);
}*/

.bern-title{
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
    text-align: center;
    @include phone{
        animation-name: bern-animation-phone;
        transform: translateX(0rem) scale(1.25);
    }
    @include tablet{
        animation-name: bern-animation-tablet;
        transform: translateX(0rem) scale(1.25);
    }
    @include desktop{
        animation-name: bern-animation-desktop;
        transform: translateX(0rem) scale(1.25);
    }
    
}

@keyframes bern-animation-phone{
    0%{transform: translateX(-800rem) scale(0.75);}
    100%{transform: translateX(0rem) scale(1.25);} //for inspect: translateX(-20rem)
}                                                    //main prob: phone wont read 100% keyframe translateX, keeps translating to same spot too far

@keyframes bern-animation-tablet{
    0%{transform: translateX(-600rem) scale(0.75);}
    100%{transform: translateX(0rem) scale(1.25);}
}

@keyframes bern-animation-desktop{
    0%{transform: translateX(-100rem) scale(0.75);}
    100%{transform: translateX(0rem) scale(1.25);}
}

.red-box:hover{
    .bern-title{
        animation-play-state: running;
        
    }
}