$colors: (
    lightblue: #B9D6F8,
    lightpurple: #C6B9F8,
    lightred: #F8B9B9,
    lightbeige: #F8DFB9
);

@function color($color-name) {
    @return map-get($colors, $color-name);
  }

  
$margin: 3rem;
$cityimageheightdesktop: 70rem;
$cityimagewidthdesktop: 80rem;

$desktop: 1100px;
$laptop: 900px;
$tablet: 600px;
$phone: 350px;

@mixin desktop{
  @media(min-width: #{$desktop}){
    @content;
  }
}

@mixin laptop{
  @media(min-width: #{$laptop}){
    @content;
  }
}

@mixin tablet{
  @media(min-width: #{$tablet}){
    @content;
  }
}

@mixin phone{
  @media(min-width: #{$phone}){
    @content;
  }
}