@import"./colors";

html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

.cover{
    height: 100rem;
    background-color: black;
    background-image: url(media/switzerland-town.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;;
    align-items: center;
}

.cover .header{
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 black,
                -2px 2px 0 black,
                2px -2px 0 black,
               -2px -2px 0 black;
}

.cover h1{
    transform: translateY(5rem);
    font-size: 20rem;
}

.cover h2{
    transform: translateY(11rem) scaleY(-1);
    opacity: .7;
    font-size: 18rem;
}

.blue-box{
    height: 100rem;
    background-color: color(lightblue);
}

.blue-box header{
    font-size: 14rem;
    text-align: center;
    font-family: 'Marcellus', serif;

}

.blue-box-parent{
    height: 80rem;
    border: 10px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.blue-image{
    background-image: url(media/zurich.jpg);
    background-size: cover;
    height: 60rem;
    width: 80rem;
    border: solid 3px black;
    margin-left: 2rem;
}

.blue-image header{
    font-size: 11rem;
    font-family: 'Marcellus', serif;
    text-shadow: 2px 2px 0 white,
                -2px 2px 0 white,
                2px -2px 0 white,
               -2px -2px 0 white;
}

.blue-box p{
    width: 70rem;
    font-size: 2rem;
    border: 5px solid green;
    text-align: center;
    margin-right: 2rem;
}