@import"./colors";

html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

.cover{
    height: 100rem;
    background-color: black;
    background-image: url(media/switzerland-town.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;;
    align-items: center;
}

.cover .header{
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 black,
                -2px 2px 0 black,
                2px -2px 0 black,
               -2px -2px 0 black;
}

.cover h1{
    transform: translateY(5rem);
    font-size: 20rem;
}

.cover h2{
    transform: translateY(11rem) scaleY(-1);
    opacity: .7;
    font-size: 18rem;
}

.blue-box{
    height: 100rem;
    background-color: color(lightblue);
}

.blue-box header{
    font-size: 14rem;
    text-align: center;
    font-family: 'Marcellus', serif;

}
